body{
    font-family: Poppins;    
    src: url(https://fonts.google.com/specimen/Poppins);
    background-color: #67AC5B;
}

p{
    color: #353535;
    text-align: center;
    font-size: 30px;

}

@font-face {

    font-family: Poppins;
    
    src: url(https://fonts.google.com/specimen/Poppins);
    
    }

.slider-container {
    display: flex;
    width: 80%;
    height: 75vh;
    overflow-x: scroll   
    
    }
      
    .slider-container img {        
    flex: 0 0 100%;
    width: 100%;
    object-fit: fill;      
   
    scroll-snap-align: center;
    }